// Axis Settings (http://roots.cx/axis) [none of this is mine! Except the settings in and after @imports]

// font stack (add your own!)
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
verdana = Verdana, Geneva, sans-serif

// default font stack
font-stack = helvetica-neue
font-size = 16
font-color = #555

// colors (via http://clrs.cc - slightly modded)
navy = #001F3F
blue = #0074D9
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #D13F19
maroon = #85144B
fuchsia = #F012BE
purple = #B10DC9
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #222222

// default color
default-color = blue

// text highlight color
highlight-color = blue

// ligatures
ligatures = false

// vertical rhythm
base-line-height = 24px
default-rhythm-border-style = solid
relative-font-sizing = true
round-to-nearest-half-line = false
min-line-padding = 2px

// custom image base path for roots mixins
img-path = ''

// support for old IE
support-for-ie = false

// progressive IE (http://css3pie.com/)
pie-enabled = false
pie-path = '/pie.htc'

// ...I get the feeling I can remove much of this since typographic either replaces or supersedes it. We'll see.

// ~~~~~~~~~~~
// ~ Imports ~
// ~~~~~~~~~~~

@import "rupture"
@import "axis"
@import "typographic"

// ~~~~~~~~~~~~~
// ~ Variables ~
// ~~~~~~~~~~~~~

// I found the defaults in rupture to not be cognizant of modern-day monitor size statistics, so I gave em an update.

rupture = {
  rasterise-media-queries: rasterise-media-queries
  mobile-cutoff: 767px
  desktop-cutoff: 1366px
  hd-cutoff: 1920px
  enable-em-breakpoints: false
  base-font-size: base-font-size
  anti-overlap: false
  density-queries: 'dppx' 'webkit' 'moz' 'dpi'
  retina-density: 1.5
  use-device-width: false
}
rupture.scale = 0 (rupture.mobile-cutoff) 1024px 1280px (rupture.desktop-cutoff) (rupture.hd-cutoff)
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

$vertical-rhythm = false

$header-font = 'enmod'
$body-font = 'Lato'
$max-font = 21px
$header-ratio = $octave

// Fix for axis mishandling the caching of nib's transition()
transition(arguments)
  arguments = unquote('all .3s ease') unless arguments
  transition: arguments